<%= form_for(@ink) do |f| %>
  <% if @ink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ink.errors.count, "error") %> prohibited this ink from being saved:</h2>

      <ul>
      <% @ink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
