<div class="full">
  <h2>The Library</h2>
</div>

<div class="main">
  <div>
    <%= render :partial => 'inks/inks_list', :locals => {:inks => (@inks.sort_by &:updated_at).reverse} %>
  </div>
</div>

<%= render :partial => 'inks/sidebar' %>

