<div class="full">
  <h2>The Library</h2><div class="tags" style="display: inline-block; margin-left: 20px;"><a href="<%= inks_path %>"><div class="tag"><%= @tag.text %></div></a></div>
</div>

<div class="main">
  <div>
    <%= render :partial => 'inks/inks_list', :locals => {:inks => (@inks.sort_by &:updated_at).reverse} %>
  </div>
</div>

<%= render :partial => 'inks/sidebar' %>
