body.authors {
    .full {
        @include column(24, true);
    }

    .main {
        @include column(18);

        .author_autobiography {
            > .author_thumbnail {
                float: left;
                margin-right: 6px;
                margin-bottom: 2px;
            }

            > .author_content {
                display: inline;
                vertical-align: top;
            }
        }

        .ink_blurb {
            margin-bottom: 25px;
        }
    }

     .right-bar {
        @include column(6, true);

        .audience_blurb {
            .follow_form {
                clear: both;
            }
        }

        .audience_blurb, .following_blurb {
            margin-bottom: 25px;

            img.author_thumbnail_small {
                float: left;
                margin-right: 6px;
                margin-bottom: 2px;
            }
        }
     }
}
