body.authors {
    .full {
        @include column(24, true);
    }

    .main {
        @include column(18);

        .author_autobiography {
            @include clearfix;

            > .author_thumbnail {
                float: left;
                margin-right: 6px;
                margin-bottom: 2px;
            }

            > .author_content {
                display: inline;
                vertical-align: top;
            }
        }
    }

     .right-bar {
        @include column(6, true);

        .audience_blurb {
            .follow_form {
                clear: both;
            }
        }

        .audience_blurb, .following_blurb {
            @include clearfix;

            margin-bottom: 25px;

            img.author_thumbnail_small {
                float: left;
                margin-right: 6px;
                margin-bottom: 2px;
            }
        }
     }
}

body.authors.sessions.new, body.devise.registrations.create {
    .login_or_signup {
        position: relative;
        top: 100px;
        width: 824px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .login_block, .signup_block {
        float: left;
        width: 350px;
        padding: 4px;
        padding-top: 10px;
        border: 2px solid black;

        h2 {
            margin-bottom: 20px;
        }

        div.row {
            margin-bottom: 10px;
            text-align: left;

            label {
                float: left;
                display: inline-block;
                width: 100px;
                text-align: right;
                line-height: 28px;
                margin-right: 4px;
            }

            input[type=text], input[type=password] {
                height: 18px;
                padding: 2px;
            }
        }
    }

    .login_block {
        position: relative;
        top: 50px;
    }

    .signup_block {
        position: relative;
        top: 33px;
    }

    .center_block {
        float: left;
        width: 100px;
        height: 275px;
        line-height: 275px;
    }
}
