body.inks {
    .full {
        @include column(24, true);
    }

    .main {
        @include column(18);

        .text {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            line-height: 18px;
            min-height: 200px;
            max-height: 500px;
            background: $light-blue-gray;
            border: 1px solid $medium-blue-gray;
            overflow-y: auto;
            padding: 4px;
        }

        .comments_block {
            margin-top: 10px;

            .comment_block {
                @include clearfix;
                margin-bottom: 10px;

                > .author_thumbnail_small {
                    float: left;
                    margin-right: 6px;
                    margin-bottom: 2px;
                }

                > .comment_content {
                    display: inline;
                    vertical-align: top;

                    textarea {
                        height: 37px;
                        width: 400px;
                    }

                    input[type="submit"] {
                        position: relative;
                        top: -15px;
                    }
                }
           }
        }
    }

     .right-bar {
        @include column(6, true);

        .author_blurb {
            @include clearfix;

            > .author_thumbnail {
                float: left;
                margin-right: 6px;
                margin-bottom: 2px;
            }

            > .author_content {
                display: inline;
                vertical-align: top;
            }
        }

        .tags, .more, .other {
            margin-top: 20px;
        }

        .ink_blurb {
            margin-bottom: 15px;
        }
     }
}

body.inks.edit {
    .full {
        input.title {
            margin-bottom: 5px;
            font-size: 18px;
        }
    }

    .main {
        .text {
            width: 695px;
            height: 500px;
        }
    }
}
