img.author_thumbnail {
    width: 80px;
    height: 80px;
    border: 1px solid $light-black;
}

img.author_thumbnail_small {
    width: 40px;
    height: 40px;
    border: 1px solid $light-black;
}

img.ink_icon {
    width: 50px;
    height: 50px;
    border: 1px solid $light-black;
}
