img.author_thumbnail {
    width: 80px;
    height: 80px;
    border: 1px solid $light-black;
}

img.author_thumbnail_small {
    width: 40px;
    height: 40px;
    border: 1px solid $light-black;
}

img.ink_icon {
    width: 50px;
    height: 50px;
    border: 1px solid $light-black;
}

.ink_blurb {
    @include clearfix;
    margin-bottom: 15px;
}

body.inks, body.authors {
    .tags {
        .tag {
            display: inline-block;
            border: 1px solid black;
            color: $light-black;
            background-color: $light-blue-gray;
            padding: 3px 6px;
            margin: 3px;

            &:hover {
                background-color: $medium-blue-gray;
            }

            .remove_tag {
                margin-left: 6px;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    color: red;
                }
            }
        }
    }
}
