/*
Syntax error: Undefined variable: "$site-background".
        on line 8 of /Users/justin/Documents/play/inksling/app/stylesheets/partials/_base.scss
        from line 16 of /Users/justin/Documents/play/inksling/app/stylesheets/screen.scss

3: @import "blueprint/typography";
4: @import "compass/css3/border-radius";
5: @import "compass/css3/transform";
6: @import "compass/css3/transition";
7: @import "compass/utilities/text/ellipsis";
8: 
9: $blueprint-grid-columns: 24;
10: $blueprint-container-size: 960px;
11: $blueprint-grid-margin: 10px;
12: $blueprint-grid-width: ($blueprint-container-size / $blueprint-grid-columns) - $blueprint-grid-margin;
13: 

Backtrace:
/Users/justin/Documents/play/inksling/app/stylesheets/partials/_base.scss:8
/Users/justin/Documents/play/inksling/app/stylesheets/screen.scss:16
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/script/variable.rb:45:in `_perform'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/script/node.rb:40:in `perform'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:215:in `visit_prop'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:145:in `block in visit_import'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:145:in `map'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:145:in `visit_import'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/engine.rb:291:in `_render'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/engine.rb:239:in `block in render'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/engine.rb:239:in `render'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:175:in `each'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:173:in `each'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/sass-3.1.4/lib/sass/plugin/rack.rb:51:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/actionpack-3.0.9/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/actionpack-3.0.9/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/actionpack-3.0.9/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/actionpack-3.0.9/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/actionpack-3.0.9/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/actionpack-3.0.9/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:32:in `block in call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/activerecord-3.0.9/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:12:in `cache'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:31:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/activerecord-3.0.9/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/actionpack-3.0.9/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/activesupport-3.0.9/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/actionpack-3.0.9/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/actionpack-3.0.9/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/actionpack-3.0.9/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/railties-3.0.9/lib/rails/rack/logger.rb:13:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/activesupport-3.0.9/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/actionpack-3.0.9/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/railties-3.0.9/lib/rails/application.rb:168:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/railties-3.0.9/lib/rails/application.rb:77:in `method_missing'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/railties-3.0.9/lib/rails/rack/debugger.rb:21:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/railties-3.0.9/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/rack-1.2.3/lib/rack/content_length.rb:13:in `call'
/Users/justin/.rvm/gems/ruby-1.9.2-p180@inksling/gems/rack-1.2.3/lib/rack/handler/webrick.rb:52:in `service'
/Users/justin/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/justin/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/justin/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$site-background\".\A         on line 8 of /Users/justin/Documents/play/inksling/app/stylesheets/partials/_base.scss\A         from line 16 of /Users/justin/Documents/play/inksling/app/stylesheets/screen.scss\A \A 3: @import \"blueprint/typography\";\A 4: @import \"compass/css3/border-radius\";\A 5: @import \"compass/css3/transform\";\A 6: @import \"compass/css3/transition\";\A 7: @import \"compass/utilities/text/ellipsis\";\A 8: \A 9: $blueprint-grid-columns: 24;\A 10: $blueprint-container-size: 960px;\A 11: $blueprint-grid-margin: 10px;\A 12: $blueprint-grid-width: ($blueprint-container-size / $blueprint-grid-columns) - $blueprint-grid-margin;\A 13: "; }
