<h1>Editing author</h1>

We use gravatar to manage profile pictures. Click <a href="http://gravatar.com/emails" target="_blank">here</a> to change yours. You may need to create a free account with them if you haven't already.

<%= render 'form' %>
