@import "blueprint";
@import "blueprint/reset";
@import "blueprint/typography";
@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/utilities/text/ellipsis";

$blueprint-grid-columns: 24;
$blueprint-container-size: 960px;
$blueprint-grid-margin: 10px;
$blueprint-grid-width: ($blueprint-container-size / $blueprint-grid-columns) - $blueprint-grid-margin;

@import "partials/colors";

@import "partials/base";
@import "partials/header";
@import "partials/footer";
@import "partials/shared";

@import "partials/authors";
@import "partials/dashboard";
@import "partials/inks";
