<div class="full">
  <h2>About</h2>

  <div>
    InkSling's goal is to be a social network for creative writers.<br />
    <br />We want to be a safe place to host a writing portfolio and to share your work with others.<br />
    <br />
    We hope our site will be used in a collaborative way, with authors seeking and providing feedback from other members.
  </div>
</div>
