<div class="full">
  <h2>Jobs</h2>

  <div>
    All costs are currently paid out-of-pocket by the founders, so we can't afford to pay for work right now.<br />
    <br />
    If you would like to contribute any time or skills as an unpaid volunteer, we would love your help! Send an email to contact@inksling.org and we'll be in touch.
  </div>
</div>
