<div class="full">
  <h2>Press</h2>

  <div>
    We don't currently have any press, but we would love some!<br />
    <br />
    Free feel to blog, tweet, whisper, tell your friends, etc. about us.<br />
    <br />
    If you'd like to speak to someone about press, send an email to contact@inksling.org.
  </div>
</div>
