<div class="full">
  <h2>Terms</h2>

  <div>
    All use of the site is subject to these terms of service. If you do not agree, please leave.
    <ul>
      <li>You agree that you will only post work that you own.</li>
      <li>You retain ownership of any content you post to the site.</li>
      <li>You give us permission to use your content, alias, and avatar for the purpose of marketing.</li>
    </ul>
  </div>
</div>
